body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* keeps the content at the top of the viewport */
  min-height: 100vh; /* ensures the body is at least full viewport height */
  background-color: #f4f4f4;
}

.container {
  display: flex;
  flex-wrap: wrap; /* allows the form and image to stack on smaller screens */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  max-width: 1000px;
  width: 100%;
  margin-top: 100px; /* adjusted to start just below the navbar */
  margin-bottom: 20px;
  overflow: hidden;
  position: fixed;
}

.form-container {
  padding: 20px;
  flex: 1 1 400px; /* allows for flexibility in layout, with a minimum width */
}

.form-container h2 {
  margin-bottom: 10px;
}

.form-container p,
.form-container a {
  font-size: 14px;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.inline-fields {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.inline-fields > div,
.inline-fields > input,
.inline-fields > select {
  flex: 1;
  margin-right: 10px;
}

/* This ensures the last element doesn't have a margin-right */
.inline-fields > div:last-child,
.inline-fields > input:last-child,
.inline-fields > select:last-child {
  margin-right: 0;
}

.center-text {
  text-align: center;
}

button {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.image-container {
  flex: 1 1 400px; /* similar flexibility to form container */
  background: url("../Images/ShopDetails.jpeg") center/cover no-repeat;
}

.terms-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: calc(100% - 20px); /* adjust width to account for padding */
  resize: vertical; /* allow vertical resizing only */
}

@media (max-width: 768px) {
  .form-container,
  .image-container {
    flex-basis: 100%; /* each takes full width on smaller screens */
  }
}
